* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;   
}


body {
    display: block;
    margin: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Hamburger menu */
nav {
    background: mediumpurple;
    padding: 5px 20px;
}

ul {
    list-style-type: none;
}

a {
    color: darkmagenta;
}

a:hover {
    text-decoration: underline;
}

.menu li {
    font-size: 16px;
    padding: 15px 5px;
}

.menu li a {
    display: block;
}

.logo a {
    font-size: 20px;
}

.button.secondary {
    border-bottom: 1px #444 solid;
}

/* Mobile Menu */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    order: 1;
}

.item.button {
    order: 2;
}

.item {
    width: 100%;
    text-align: center;
    order: 3;
    /* display: none; */
}

.item.active{
    display: block;
}




.toggle {
    cursor: pointer;
}

.bars {
    background: #4a235a;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 18px;
}
.bars::before,.bars::after {
    background: #4a235a;
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 18px;   
}

.bars::before{
    top: 5px;    
}

.bars::after {
    top: -5px;
}

/* Tablet Menu */
@media all and (min-width:468px) {
    .menu {
       justify-content: center; 
    }

    .logo {
        flex: 1;
    }

    .item.button {
        width: auto;
        order: 1;
        display: block;
    }

    .button.secondary {
        border: 0;
    }

    .button a {
        padding: 7px 15px;
        background: #f4d03f;
        border: 1px solid #f1c40f;
        border-radius: 50em;
    }

    .button.secondary a {
        background: transparent;
    }

    .button a:hover {
        transition: all .25s;
    }

    .button:not(.secondary) a:hover{

    }
}











/* Overlay */
.big-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(..//images/loclifelogo2-preview.png);
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .overlay h1 {
    font-size: 40px;
    letter-spacing: 0px;
    margin: 0 0 5px;
  }

  .overlay h2 {
    font-size: 25px;
    letter-spacing: 0px;
    margin: 0 0 5px;
  }
  
  .overlay p {
    margin: 15px;
    font-size: 22px;
  }

/* End of Overlay CSS */

h1 {
    font-family: 'Montserrat Alternates', sans-serif; 
    font-style: normal;   
    font-variant: normal;
    font-weight: 700;
    color: goldenrod;
    line-height: 25.4px;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;  
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: purple;
    line-height: 15.4px; 
}

p { 
	font-family: 'Montserrat Alternates', sans-serif; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
    color: whitesmoke;
	line-height: 50px; 
}