:root {
    --primary-color: rgba(106, 90, 205, 0.4);
    --overlay-color: rgba(102, 0, 255, 0.3);
    --menu-speed: 0.75s;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Montserrat Alternates', sans-serif;
        line-height: 1.4;
    }

    .container {
        max-width: 960;
        margin: auto;
        overflow: hidden;
        padding: 0 3rem;
    }

    .showcase {
        background-color: var(--primary-color);
        color: #fff;
        height: 100vh;
        position: relative;
    }

    .showcase:before {
        content: '';
        background: url(..\images\loclifeb13.png) no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }